body{
    width: 650px;
    height: 750px;
    background-color: #dbdbdb;
}
table{
    border-collapse: collapse;
    width: 600px;
    height: 600px;
    max-height: 700px;
}
td{
    border: 3px solid #000000;
    font-size: 8px;
}

.visited{
    background-color: #90ee90;
}
.current{
    background-color: #60bb60 !important;
}
.end{
    background-color: red;
}
.S
{
    border-bottom-style:none;
}
.N
{
    border-top-style:none;
}
.W
{
    border-right-style:none;
}
.E
{
    border-left-style:none;
}
