$def with (size,maze,playable)
<html>
<head>
    <title>Maze</title>
    <link href="static/style.css" rel="stylesheet">
    <script type="text/javascript" src="static/jquery.js"></script>
    $if playable and settings.GA_ACCOUNT:
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', $settings.GA_ACCOUNT]);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
</head>
<body>
    <p>Press arrows to solve this maze; Vim binding also work (h,j,k,l)</p>
    $if playable:
        <form action="/" method="POST">
            <p>Generate a new maze</p>
            <select name="size">
                $for option in range(3,45):
                    <option id="option-$option" value="$option">$option</option>
            </select>
            <input type="submit" name="submit" value="Generate">
        </form>

    <input type="submit" name="reset" id="reset-button" value="Reset">

    <table id="table-id">
        $for row in range(size):
            <tr>
                $for column in range(size):

                    $if row == 0 and column == 0:
                        <td id="node-$row-$column" data-row="$row" data-column="$column" class="$maze.get_classes_for_node((row,column)) current">&nbsp;</td>
                    $elif row == size-1 and column == size-1:
                        <td id="node-$row-$column" data-row="$row" data-column="$column" class="$maze.get_classes_for_node((row,column)) end">&nbsp;</td>
                    $else:
                        <td id="node-$row-$column" data-row="$row" data-column="$column" class="$maze.get_classes_for_node((row,column))">&nbsp;</td>
            </tr>
    </table>
</body>
<script type="text/javascript" src="static/maze.js"></script>
</html>