$def with (size,maze,playable)
<html>
<head>
    <title>Maze</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>


    $if playable and settings.GA_ACCOUNT:
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '$settings.GA_ACCOUNT']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
</head>
<body>
    <a href="http://github.com/juliengrenier/python-maze-generator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>
    <div id="home" style="width: 600px" date-role="content">
    <p>Press arrows to solve this maze; Vim binding also work (h,j,k,l)</p>
    $if playable:
        <form id="generate-form-id" action="/" method="POST">
            <p>Generate a new maze</p>
            <select name="size">
                $for option in range(3,45):
                    <option id="option-$option" value="$option">$option</option>
            </select>
            <a href="#" id="generate-button-id" data-role="button" data-inline="true">Generate</a>
        </form>


        <a href="#" id="reset-button" data-role="button" data-inline="true">Reset</a>
    <div style="float: right;">
        <span id="stopwatch"></span>
    </div>



    <table id="table-id">
        $for row in range(size):
            <tr>
                $for column in range(size):

                    $if row == 0 and column == 0:
                        <td id="node-$row-$column" data-row="$row" data-column="$column" class="$maze.get_classes_for_node((row,column)) current">&nbsp;</td>
                    $elif row == size-1 and column == size-1:
                        <td id="node-$row-$column" data-row="$row" data-column="$column" class="$maze.get_classes_for_node((row,column)) end">&nbsp;</td>
                    $else:
                        <td id="node-$row-$column" data-row="$row" data-column="$column" class="$maze.get_classes_for_node((row,column))">&nbsp;</td>
            </tr>
    </table>
    </div>
    <script type="text/javascript" src="static/maze.js"></script>
    <script type="text/javascript" src="static/stopwatch.js"></script>

</body>
<script type="text/javascript">
    var is_loaded = false;
    var bind_events = function(){
        if(is_loaded)return;
        is_loaded=true;
        $$(document).keydown(MAZE.handeKeydownEvent);

        $$("#reset-button").live('click',function(e){
            e.preventDefault();
            MAZE.reset();
        });
        $$("#generate-button-id").live('click',function(e){
            window.location = "/?size="+$$("option:selected").val();
        });


        $$("td").live('tap',function(e){
            MAZE.moveTo($$(this));
        })
    };

    $$("body").live('pageinit',function(event){
        if (!is_loaded){//For some reason the event is launched twice, which is annoying.
            bind_events();
        }
        MAZE.StopWatch = StopWatch;
        StopWatch.setElementId('stopwatch');

        $$("#option-$size").attr("selected","selected");
    });
</script>

</html>